@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

.onclick {
    @apply bg-white text-black hover:bg-white;
}

.section-changed{
    @apply laptop:p-11
}